:host {
  display: block;
  background: url("../../assets/bg.jpg") no-repeat top center white;
  background-size: contain;
  position: relative;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.8) 0 0 6px 0;
}

.avatar-wrap {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  .avatar {
    display: block;
    height: 150px;
    width: 150px;
    background: url("../../assets/avatar.jpg") no-repeat center #666666;
    background-size: cover;
    border-radius: 50%;
    box-shadow: white 0 0 0 3px;
    transform: translateY(-25px);
  }
}

.content-wrap {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.text-wrap {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  
  .text {
    font-weight: 200;
    font-size: 14px;
    margin-bottom: 10px;
    
    &:nth-child(1) {
      font-size: 24px;
    }
    
    &:nth-child(3) {
      color: steelblue;
    }
  }
}

.link-wrap {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  height: 80px;
  
  .link {
    display: inline-block;
    color: steelblue;
    font-size: 30px;
    cursor: pointer;
  }
}
